.footerContainer {
    margin: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    width: 178px;
    height: 43px;
    border-radius: 40px;
    font-size: 14px;
}
