.numbersComponentContainer {
    display: flex;
    flex-direction: column;
}

.descriptionContainer {
    display: flex;
    margin-bottom: 20px;
}

.title {
    font-size: 14px;
    font-weight: bold;
}

.description {
    font-size: 14px;
    padding-left: 10px;
}

.numbersContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
